openapi: 3.0.3
info:
  title: Archrock Investor Relations Financials SEC Filings API
  description: API providing access to Archrock investor relations data including financial reports, compression fleet statistics, SEC filings, and operational performance metrics.
  version: 1.0.0
  contact:
    name: Archrock Investor Relations
    url: https://www.archrock.com/investor-relations
servers:
- url: https://api.archrock.com/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: SEC Filings
paths:
  /sec-filings:
    get:
      summary: List SEC filings
      operationId: listSecFilings
      tags:
      - SEC Filings
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - 10-K
          - 10-Q
          - 8-K
          - DEF14A
          - SC13G
      - name: year
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of SEC filings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecFilingList'
components:
  schemas:
    SecFiling:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - 10-K
          - 10-Q
          - 8-K
          - DEF14A
          - SC13G
        filingDate:
          type: string
          format: date
        periodOfReport:
          type: string
        description:
          type: string
        secUrl:
          type: string
        documentUrl:
          type: string
    SecFilingList:
      type: object
      properties:
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        filings:
          type: array
          items:
            $ref: '#/components/schemas/SecFiling'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
