openapi: 3.0.3
info:
  title: Archrock Investor Relations Financials Operations API
  description: API providing access to Archrock investor relations data including financial reports, compression fleet statistics, SEC filings, and operational performance metrics.
  version: 1.0.0
  contact:
    name: Archrock Investor Relations
    url: https://www.archrock.com/investor-relations
servers:
- url: https://api.archrock.com/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Operations
paths:
  /operations/metrics:
    get:
      summary: Get operational performance metrics
      operationId: getOperationalMetrics
      tags:
      - Operations
      parameters:
      - name: year
        in: query
        schema:
          type: integer
      - name: quarter
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Operational performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationalMetrics'
components:
  schemas:
    OperationalMetrics:
      type: object
      properties:
        year:
          type: integer
        quarter:
          type: integer
        contractOperationsRevenue:
          type: number
        aftermarketServicesRevenue:
          type: number
        averageActiveHorsepower:
          type: integer
        revenuePerHorsepower:
          type: number
        grossMarginContractOps:
          type: number
        grossMarginAftermarket:
          type: number
        safetyIncidentRate:
          type: number
        customerCount:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
