openapi: 3.0.3
info:
  title: Archrock Investor Relations Financials Fleet API
  description: API providing access to Archrock investor relations data including financial reports, compression fleet statistics, SEC filings, and operational performance metrics.
  version: 1.0.0
  contact:
    name: Archrock Investor Relations
    url: https://www.archrock.com/investor-relations
servers:
- url: https://api.archrock.com/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Fleet
paths:
  /fleet/statistics:
    get:
      summary: Get compression fleet statistics
      operationId: getFleetStatistics
      tags:
      - Fleet
      parameters:
      - name: year
        in: query
        schema:
          type: integer
      - name: quarter
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Fleet statistics and utilization metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetStatistics'
  /fleet/equipment:
    get:
      summary: List compression equipment
      operationId: listEquipment
      tags:
      - Fleet
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - idle
          - maintenance
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of compression equipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentList'
components:
  schemas:
    EquipmentList:
      type: object
      properties:
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        equipment:
          type: array
          items:
            $ref: '#/components/schemas/Equipment'
    FleetStatistics:
      type: object
      properties:
        year:
          type: integer
        quarter:
          type: integer
        totalHorsepower:
          type: integer
          description: Total fleet horsepower
        activeHorsepower:
          type: integer
          description: Active fleet horsepower
        utilizationRate:
          type: number
          description: Fleet utilization rate as percentage
        averageHorsepowerPerUnit:
          type: number
        totalUnits:
          type: integer
        newUnitDeployments:
          type: integer
        unitRetirements:
          type: integer
    Equipment:
      type: object
      properties:
        id:
          type: string
        unitNumber:
          type: string
        horsepowerRating:
          type: integer
        engineType:
          type: string
        compressionType:
          type: string
        status:
          type: string
          enum:
          - active
          - idle
          - maintenance
        location:
          type: string
        customer:
          type: string
        deploymentDate:
          type: string
          format: date
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
